<div class="footer">
    <img class="footer__logo" src="../../assets/img/logo.svg" alt="Logo">
    <ul class="footer_items">
        <li class="footer__redes--movil">
            Follow us
            <ul>
                <li>
                    <img src="../../assets/img/twiter.svg" alt="Twitter Icono">
                    <img src="../../assets/img/facebook.svg" alt="Facebook Icono">
                    <img src="../../assets/img/youtube.svg" alt="YouTube Icono">
                </li>
            </ul>
        </li>
        <li>
            Destinations
            <ul>
                <li>Madrid</li>
                <li>Barcelona</li>
                <li>London</li>
                <li>Paris</li>
                <li>Rome</li>
            </ul>
        </li>
        <li>
            Legal information
            <ul>
                <li>Privacy policy</li>
                <li>Cookie policies</li>
                <li>data treatment</li>
            </ul>
        </li>
        <li>
            Book your flight
            <ul>
                <li>Search flights</li>
                <li>Price calendar</li>
                <li>Destination map</li>
                <li>Flight times</li>
                <li class="footer__redes--escritorio">
                    Follow us
                    <ul>
                        <li>
                            <img src="../../assets/img/twiter.svg" alt="Twitter Icono">
                            <img src="../../assets/img/facebook.svg" alt="Facebook Icono">
                            <img src="../../assets/img/youtube.svg" alt="YouTube Icono">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="texto">
    Website terms of use | Site map | environment | contact@arilines.com
</div>