<div class="ofertas">
    <h2 class="ofertas__titulo">Offers</h2>
    <div class="ofertas__cont">
        <div class="ofertas__oferta--chicago1">
            <h4>Chicago</h4>
            <p>From $600.<sub>00</sub></p>
            <img class="oferta__sombra" src="../../assets/img/sombra.png" alt="Sombra">
        </div>
        <div class="ofertas__oferta--porto">
            <h4>Porto</h4>
            <p>From $600.<sub>00</sub></p>
            <img class="oferta__sombra" src="../../assets/img/sombra.png" alt="Sombra">
        </div>
        <div class="ofertas__oferta--chicago2">
            <h4>Chicago</h4>
            <p>From $600.<sub>00</sub></p>
            <img class="oferta__sombra" src="../../assets/img/sombra.png" alt="Sombra">
        </div>
    </div>
</div>